html, body {
  overflow-x: hidden;
}

body {
  position: relative
}

.container-fluid {
    padding: 30px 100px;
    max-width: 1200px;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Rounded-Bold.ttf');
}

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #FFF;
    margin-bottom: 1rem;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

.link {
    color: #FFF;
    text-decoration: underline;
    opacity: .9;
}

.link:hover {
    color: #FFF;
    opacity: 1;
}

.link:active {
    color: #FFF;
}

.link:visited {
    color: #FFF;
}

p {
    font-family: 'Open Sans';
    font-size: 20px;
    color: #333;
}

ul {
    margin-top: -10px;
}

ul li {
    font-family: 'Open Sans';
    font-size: 20px;
    color: #FFF;
    opacity: .9;
    line-height: 35px;
}

.role {
    opacity: .9;
    font-size: 16px;
}

#uptop {
    color: #000;
    padding: 40px 0;
}

#uptop a {
    text-decoration: none;
    color: #003BFF;
}

#uptop p {
    color: #000;
}

#uptop h1 {
    color: #000;
    font: 'Merriweather', serif;
}

#profile-pic {
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    width: 100%;
}

#bubble {
    position: absolute;
}

#speech {  
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

.hoverboard:hover > #speech {
    visibility:visible;
}

#social {
    text-align: left;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 20px;
    display: inline-block;
}

#social a {
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

#socialFA a {
    background-color: #333;
    height: 60px;
    width: 60px;
    border-radius: 10%;
    color: #FFF;
    font-size: 40px;
}

#resume {
    float: left;
    background: #333333;
    box-shadow: 6px 6px 0 0 #9519AA;
    border-radius: 10%;
    height: 60px;
    width: 95px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#resumeText {
    margin-top:16px;
    margin-left: 10px;
    color: #fff !important;
}

#resume:hover {
    background-color: #9519AA;
}

#resume, #linkedin, #medium, #github, #dribbble {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

#linkedin a:hover {
    background-color: #0077B5;
}

#linkedin {
    box-shadow: 6px 6px 0 0 #0077B5;
    border-radius: 10%; 
}

#medium a:hover {
    background-color: #19AA6D;
}

#medium {
    box-shadow: 6px 6px 0 0 #19AA6D;
    border-radius: 10%; 
}

#github a:hover {
    background-color: #00B5A0;
}

#github {
    box-shadow: 6px 6px 0 0 #00B5A0;
    border-radius: 10%; 
}

#dribbble a:hover {
    background-color: #EA4C89;
}

#dribbble {
    box-shadow: 6px 6px 0 0 #EA4C89;
    border-radius: 10%; 
}

.project p {
    color: #FFF;
}

#projects a:hover {
    text-decoration: none;
}

#projects a:hover .project {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.50);
    overflow: hidden;
    transition: transform .3s ease;
    transform: scale(1.01);
}

#projects img {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#projects .text {
    text-align: center;
}

#classy {
    background-image: linear-gradient(-188deg, #0B6CFF 0%, #30CDDE 100%);
    padding: 30px;
}

@media only screen and (min-width: 768px) {
    #classy,#uga, #couchsurfing, #more, #flavor {min-height: 400px; position: relative; margin-top: 0px; margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    }
}

@media only screen and (min-width: 992px) {
    #classy,#uga, #couchsurfing, #more, #flavor {max-height: 700px;}
}

#couchsurfing, #uga, #classy {
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

#uga {
    background-image: linear-gradient(6deg, #FF0017 0%, #9F041B 100%);
    padding: 30px;
    border-radius: 8px;
}

#pixel {
    width: 90vw;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    #pixel {width:40vw;}
}

#couchsurfing {
/*    background-image: linear-gradient(-43deg,#F0F2E8 20%, #7BC7E9 100%);*/
    background-image: linear-gradient(-120deg, #FAD961 0%, #F76B1C 69%);
    padding: 30px;
}

.rounded {
    border-radius: 10px;
}

@media only screen and (min-width: 768px) {
    #freddie {width:30vw;}
}

#more {
    padding: 60px 0;
}

#more a {
    color: #003BFF;
    text-decoration: none;
    font-weight: bold;
}

#more p, #more h1 {
    color: #000;
}

#more .highlight {
    background-color: #DCE4FF;
}

#flavor {
    padding: 30px 0;
    color: #000;
}

#flavor h1, #flavor a {
    color: #F24464;
}

#flavor img {
    float:right;
}

#contact {
    background-image: linear-gradient(-227deg, #ECB5BF 10%, #F3607B 100%);
    border-radius: 15px;
    margin: 30px 0px 0px 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

}

#contact p {
    color: #FFF;
}

#contact a {
    color: #FFF;
    text-decoration:underline;
}

#centered {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.rock-bottom {
    padding-bottom: 30px;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 20px;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
    margin-bottom: 20px;
}

@media only screen and (max-width: 510px) {
    #uptop, #classy, #uga, #couchsurfing {
        padding: 10px;
    }
    #couchsurfing .text, #classy .text, #uga .text {
        padding: 40px 0;
    }
    #cs {
        font-size: 40px;
    }
    .container-fluid {
        padding: 20px 10px;
    }
    #github {
        display: none;
    }
    #more h1 {
        padding: 20px 0 0 0;
    }
}

@media only screen and (max-width: 400px) {
    #more h1 {
        font-size: 40px;
    }
}